
$primary: #3292a6;
$footer-color: #2c8192;
$border: border-success;

body{
	margin-top: 99px;
}

.alert{
	font-size: 13px;

}




.card{
	border-top:solid green 1px;
}

.navbar{
	box-shadow:2px 2px 5px;
	opacity: 0.9;
	background: #fff;
	padding-top: 15px;
 	padding-bottom: 15px;
 	transition: all 0.2s;

	.nav-item{
		font-size: 1.2rem;
		padding-right:10px;
		color: white;
	}

	.navbar-brand {
        font-size: 1.75em;
        transition: all 0.2s;
      }


} 

.footer{
  background-color: $footer-color;
}


#login {
	margin-top: 80px;
	margin-bottom: 50px;
}



